<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="Description" content="Put your description here." />
    <style>
      body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
      }
    </style>
  </head>
  <body>
    <query-ui></query-ui>

    <script type="module" src="../query-ui.js"></script>
  </body>
</html>
