<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, viewport-fit=cover"
		/>
		<meta name="Description" content="Put your description here." />
		<link rel="stylesheet" href="../dist/bundle.css" />

		<style>
			body {
			
			}
		</style>
	</head>

	<body>
		<query-ui></query-ui>
	</body>
	<script type="module" src="../dist/index.js"></script>
	<script
		type="module"
		src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.36/dist/shoelace.js"
	></script>
</html>
